/** css reset */
* {
  box-sizing: border-box;
}

html, body, div, nav, textarea {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  font: inherit;
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

textarea {
  outline: none;
}

/** test css */
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas:  "nav nav"
                        "input output";
  border: 1px solid rgb(229, 229, 229);
  margin: 40px 100px;
}

.font-box {
  height: 5vh;
  border-bottom: 1px solid rgb(229, 229, 229);
  grid-area: nav;
}

.get-input {
  height: 50vh;
  border-right: 1px solid rgb(229, 229, 229);
  grid-area: input;
  padding: 10px;
}

.output {
  height: 50vh;
  grid-area: output;
  padding: 10px;
}

/** tag styles */
.hh1 {
  font-size: 24px;
  line-height: 28px;
  border-bottom: 3px double #999;
  padding-bottom: 7px;
  font-weight: 700;
  color: #222;
  margin: 24px 0 15px;
}

.hh2 {
  min-height: 23px;
  font-size: 22px;
  line-height: 23px;
  border-bottom: 1px solid #dbdbdb;
  margin: 20px 0 13px;
  padding-bottom: 7px;
  font-weight: 700;
}

.hh3 {
  line-height: 18px;
  font-size: 20px;
  font-weight: 700;
  margin: 18px 0 2px;
  color: #222;
  padding-bottom: 7px;
}

.quotes {
  min-height: 20px;
  margin: 14px 0;
  border-left: 4px solid #e5e5e5;
  padding: 0 16px;
  color: #999;
}